@import "onscreen.less";

html {
	font-size: 18px;
}
body {
	font-family: Raleway, Helvetica, sans-serif;
	color: white;
}
h1, h2, h3 {
	font-family: 'Alegreya Sans SC', Georgia, sans-serif;
	font-weight: 900;
	width: 100%;
	text-align: center;
}

h1 {
	font-size: 64px;
	margin: 3em 0 3em;
}
h2 {
	font-size: 38px;
	margin: 3em 0 2em;
}

a, a:visited {
	text-decoration: none;
	color: #337AD8;
	&:hover {
		color: white;
	}
}
#links {
	.centered();
	text-align: center;
	font-weight: 400;
	font-size: 30px;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}
#screen {
	.screen-fade-transition();
}
